* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-weight: 400;
    letter-spacing: 0;
    font-size: 15px;
    color: #747474;
    line-height: 32px;
}
.content-center {
    text-align: center;
}
h2 {
    display: block;
    font-size: 1.5em;
   /* -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;*/
    font-weight: 700;
    line-height: 1.5;
}
.logo img {
    max-width: 64px;
}
img {
    border-style: none;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
.header {
    background-image: url(../img/bg3.jpg);
	background-attachment: fixed;
	background-size: cover;
    position: relative;
    width: 100%;
	height: 100vh;
}
.header #bg-head {
    width: 100%;
    height: 100%;
}
.container {
    display: inline-block;
    cursor: pointer;
}
.main-menu {
    position: fixed;
    width: 15%;
    height: 100vh;
    background: #ec4858;
    right: -15%;
    transition: 1s ease-out;
    opacity: 1;
    z-index: 99997;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
}
.main-menu a:first-child { 
    margin-top: 300px;
}
.main-menu a:nth-last-child(1) { 
    margin-bottom: 300px;
}
.main-menu a {
    color: #f8959e;
    font-size: 35px;
    font-weight: 400;
    transition: .3s;
}
.main-menu a:hover {
    color: #fff;
}
.mm-change {
    right: 0;
}
.menu-ic {
    margin: 0 -12.5px;
    padding: 0 13px;
    height: 21.6px;
    width: 36px;
    cursor: pointer;
    z-index: 99998;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-sizing: content-box;
}

.bar {
    width: 36px;
    height: 2px;
    background-color: #ffffff;
    transition: 0.2s;
}

.change .m1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 11px) ;
    transform: rotate(-45deg) translate(-5px, 5px) ;
}

.change .m2 {opacity: 0;}

.change .m3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
.header-content{
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
    animation-delay: 0.25s;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	animation-name: top-fade;
	animation-fill-mode: both;
}

@keyframes top-fade {
	from {
		opacity: 0;
		transform: translateY(-30%);
	}
	to {
		opacity: 1;
		transform: translateY(-50%);
	}
}
.header-content h2 {
    display: inline-block;
    color: #fff;
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 180px;
}
.head-name {
    margin: 0 0 14px;
} 
.head-caption {
    display: inline-block;
    padding: 0;
    line-height: 1;
}
.head-caption span {
    color: #fff;
    font-size: 24px;
    line-height: 1.5;
}
.head-caption em {
    line-height: 1.5;
    font-size: 24px;
}
.top-line {
    position: fixed;
    width: 100%;
    height: 137px;
    z-index: 99999;
    padding: 0 4%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
   justify-content: space-between;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: background-color .25s ease-in-out;
}
.button {
    margin-top: 3.25%;
    padding: 0 7.5px;
    display: inline-block;
}
.button-wrapp {
    display: block;
    padding: 17px 40px;
    letter-spacing: 2px;
    line-height: 21px;
    font-size: 18px;
    color: #fff;
    background: #ec4858;
    text-transform: uppercase;
    border: 0px solid #ffffff;
    border-radius: 2px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    -webkit-border-radius: 2px;
    cursor: pointer;
    transition: all .2s;
}
.r {
    background-color: transparent;
    border: 1px solid #ffffff;
}
.button-wrapp:hover {
    background: #ffffff;
    color: #333;
}
.wrap-line {
    padding: 0px 0px 65px 0px;
}
.blok-line {
    height: 16px;
    background-color: #ec4858;
    margin: 0 auto;
    border-color: #ec4858;
    max-width: 27%;
}
.h-line .blok-line {
    height: 2px;
    background-color: #444e63;
    margin: 0 auto;
    border-color: #444e63;
    border-top-width: 2px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 300px;
}
.main {
    background-color: #323844;
    background-position: left top;
    background-repeat: no-repeat;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 90px;
    padding-left: 30px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: #ffffff;
    border-top-style: solid;
    border-bottom-style: solid;
}
.topic{
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 30px;
}
.under-topic p {
    margin: 0 0 20px;
    width: 60%;
    margin: 0 auto;
    font-size: 20px;
}
.three-photoes {
    overflow: hidden;
}
.ph {
    width: 100%;
    min-height: 1000px;
    float: left;
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transform: scale(1);
    transition: 1s;
}
.ph-wrapp {
    width: 33.33%;
    overflow: hidden;
    float: left;
}
.ph:hover{
    transform: scale(1.12);
}


.p1 {
    background-image: url(../img/ph1.jpg);
}
.ph h2{
    padding: 55% 60px 50% 60px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}
.p2 {
    background-image: url(../img/ph2.jpg);
}
.p3 {
    background-image: url(../img/ph3.jpg);
}
.wrap-hov-all {
    background-color: #252a33;
    background-position: left top;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 100px;
    padding-left: 30px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-color: #ffffff;
    border-top-style: solid;
    border-bottom-style: solid;
}
.wrap-hov {
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
}
.space {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    height: 1px;
    border-color: transparent;
}

/*==============================================================================*/
.slide-hov {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}
.w {
    width: 100%;
    height: 35vh;
    margin-bottom: 15px;
}
.h {
    width: 33%;
    height: calc(70vh + 15px);
    margin-left: 15px;
    overflow: hidden;
}
.tol {
    margin-left: 0;
    width: 49%;
}
.lp {
    margin-left: 2%;
}
.rp {
    margin-top: 15px;
}
.gathered-l {
    flex-basis: 60%;
    flex-grow: 2;
}
.gathered-r {
    flex-basis: 33%;
}
.ll-p {
    width: 100%;
}
.container {
    float: left;
    position: relative;
    overflow: hidden;
}

.container img{
    width: 100%;
    height: 100%;
}
.image-w {
  display: block;
  width: 100%;
  height: 35vh;
}
.image-h {
  display: block;
  width: 100%;
  height: 70vh;
}
.one {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #323844;
  overflow: hidden;
  height: 20%;
  z-index: 100;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform-style: preserve-3d;
}
.two {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(236, 72, 88, 0.5);
  overflow: hidden;
  height: 100%;
  z-index: 1;
  -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform-style: preserve-3d;
    opacity: 0;
}
.container:hover .one {
    transform: translateY(100%);
}
.container:hover .two {
    transform: translateX(0);
    opacity: 1;
}
.text-slide {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


table {
  font-family: sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #333;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #333;
}
/*======================================================================*/





.big-btn {
    display: inline-block;
    width: 100%;
    background: #ec4858;
    color: #ffffff;
    padding: 70px 0;
    border: none;
    line-height: 21px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none!important;
    box-shadow: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.big-btn:hover {
    color: #555;
    background: #ffffff;
}

.footer-menu {
    background-color: #323844;
}
.f-row {
    max-width: 100% !important;
    overflow: hidden;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 75px;
    padding-bottom: 55px;
}
.f-row .f-cont {
    width: 50%;
    float: left;
}
.f-cont nav {
    text-align: right;
}
.f-cont nav li{
    display: inline-block;
    padding: 0 12px;
}
.f-cont nav li a{
    border: 0;
    color: rgba(255,255,255,.35);
    font-size: 18px;
}
.footer-copyright-area {
    background-color: #252a33;
    padding: 30px;
}
.footer-copyright-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100% !important;
    padding-left: 4%;
    padding-right: 4%;
}
.f-cont img {
    max-width: 64px;
}
.copyright-notice {
    font-size: 12px;
    color: #7d7b8d;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
}
.copyright-notice a {
    color: #7d7b8d;
}
.copyright-notice a:hover {
    color: #ffffff;
}

    
